/************************
Tinder Template by Miami
************************/
.tbg {
    height: 720px;
    width: 400px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow: 0px 0px 3px #636363;

}
.tbgwrap { padding: 10px; }
.theader { height: 13%; border-bottom: 1px solid #000000; }

.tlogo { 
    width: 18%; 
    margin: 0 auto;
    padding: 10px;
    float: left; 
    }
.tlogo img { width: 100%; }
.tphoto {
    width: 90%;
    height: 75%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border: 1px solid #c0c0c0;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 0px 0px 5px #636363;
    margin-bottom: 5%;
    padding-top: 5%;
}

.ng-tns-c1-0{
    margin-top:5%;
    margin-bottom:5%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.title{
    margin: 5 auto;
    padding-right: 5%;
    padding-top:8%;
    width: 60%;
}

.title-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center_decision_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height:100%;
}

.tbed img{
    display:inline-block !important;
    width:10%;
    height:10%;
    margin-right: 0%;
    margin-left:5%;
    margin-top:5%;
}
.tbed-text{
    display:inline-block !important;
    margin-right: 15%;
    font-family: monospace;
    font: size 36p;
}

.tname {
    padding: 15px;
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    float: left;
}
.tname .age { font-weight: 200; }
.tinfo { font-family: 'Helvetica', sans-serif; }
.tinfo .fa-users, .tinfo .fa-book {
    color: #c0c0c0;
    float: right;
    position: relative;
    font-size: 24px;
    padding: 12px;
}
.tcontrols_left {
    float:left;
}
.tcontrols_right {
    float:right;
}

.tno {
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    left: 75%;
    border: 10px solid #e0e0e0;
}

.tyes {
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    display: inline-block;
    right: 75%;
    border: 10px solid #e0e0e0;
}

.shakeit:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}